.works {
  padding-bottom: 60px;

  @media screen and (max-width: 767px) {
    padding-top: 30px;
  }

  @media screen and (min-width: $tablet) {
    padding-top: 40px;
  }

  @media screen and (min-width: $desktop) {
    padding-top: 50px;
    padding-bottom: 94px;
  }
}

.works-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    &-item {
        background-color: $text-color-dark-theme;
        border: 1px solid #eeeeee;

        @media screen and (max-width: $mobile) {
          width: 100%;
        }

        @media screen and (max-width: 767px) {
          margin: 0 auto;
          width: 450px;
        }

        &:hover,
        &:focus {
          transition-timing-function: $timing-function;
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
          cursor: pointer;
        }
    }

    &-item:not(:nth-last-child(-n + 3)) {
        margin-bottom: 30px;
    }

    &-item:last-child {
      @media screen and (min-width: $tablet) {
        margin-top: 30px;  
      }

      @media screen and (min-width: $desktop) {
        margin-top: 0;
      }
    }

    &-item:not(:last-child) {
      @media screen and (max-width: 767px) {
        margin-bottom: 30px;
      }
    }
}

.works-list-item-title {
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: 24px;
    font-style: $font-style;
    font-weight: $font-weight-big;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: $text-general-color-light-theme;
}

.works-list-item-filter {
    margin-top: 4px;
    margin-bottom: 20px;
    margin-left: 24px;
    font-style: $font-style;
    font-weight: $font-weight-small;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: $text-second-color-light-theme;
}

.works-hidden {
    position: relative;
    overflow: hidden;

    &:hover .works-hidden-overlay,
    &:focus .works-hidden-overlay {
      transform: translatey(0%);
      transition-timing-function: $timing-function;
    }

    &-overlay {
      position: absolute;
      text-align: left;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba(33, 150, 243, 0.9);
      transform: translatey(100%);
      transition: transform 250ms ease;
      padding: 25px 20px 25px 20px;

      @media screen and (min-width: $mobile) {
      padding: 77px 24px 77px 24px;
      }

      @media screen and (min-width: $tablet) {
        padding: 49px 24px 49px 24px;
      }

      @media screen and (min-width: $desktop) {
        padding: 63px 24px 63px 24px;
      }

      &-text {
        display: block;
        font-style: $font-style;
        font-weight: $font-weight-small;
        width: 100%;
        font-size: 15px;
        line-height: 1.556;
        letter-spacing: 0.03em;
        color: $text-color-dark-theme;

        @media screen and (min-width: $mobile) {
          font-size: 18px;
        }

        @media screen and (min-width: $tablet) {
          width: 306px;
        }

        @media screen and (min-width: $desktop) {
          width: 322px;
        }
      }
    }   
}

.works-hidden-img {
  @media screen and (min-width: $mobile) {
    max-width: 450px;
    height: 294px;
  }

  @media screen and (min-width: $tablet) {
    width: 354px;
    height: 294px;
  }

  @media screen and (min-width: $desktop) {
    width: 370px;
  }
}