.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;

  @media screen and (min-width: $mobile) {
    width: 300px;
  }

  @media screen and (min-width: $tablet) {
    width: 720px;
  }

  @media screen and (min-width: $desktop) {
    width: 1080px;
  }
}
