$accent-color: #2196f3;
$text-color-dark-theme: #ffffff;
$text-general-color-light-theme: #212121;
$text-second-color-light-theme: #757575;
$timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
$main-font: roboto;
$logo-font: raleway;
$font-style: normal;
$font-weight-small: normal;
$font-weight-medium: 500;
$font-weight-big: bold;
$font-weight-hero: 900;
